@font-face {  
  font-family: pkmndp;  
  src: url(Fonts/pkmndp.eot); /* IE */  
  src: local(Pokemon DP), url(Fonts/pkmndp.ttf) format("truetype"); /* non-IE */  
}  


@font-face {
    font-family: 'pokemon_rs_intlregular';
    src: url('webFont/pkmnrsi-webfont.eot');
    src: url('webFont/pkmnrsi-webfont.eot?#iefix') format('embedded-opentype'),
         url('webFont/pkmnrsi-webfont.woff') format('woff'),
         url('webFont/pkmnrsi-webfont.ttf') format('truetype'),
         url('webFont/pkmnrsi-webfont.svg#pokemon_rs_intlregular') format('svg');
    font-weight: normal;
    font-style: normal;

} 

* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	color: #FFF;
	font-family: pokemon_rs_intlregular, pkmndp, Arial;
	text-align: center;
}

header {
	width: 100%;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
}

nav {
	position: fixed;
}

#canvas-box {
	width: 800px;
	margin: 0 auto;
}

canvas {
	width: 800px;
}

#statusbar {
	height: 42px;
	width: 100%;
	background: #858585;
	position: relative; 
	z-index: 3;
}

#chatbox {
	height: 32px;
	width: 100%; 
	text-align: left;
	position: inherit;
	z-index: 2; 
}
	
	#chatbox input {
		width:90%;
		margin-left: auto;
		margin-right: auto;
		padding:7px 8px; 
		border: 4px solid rgba(55,55,55, 0.5);
		border-bottom: 0;
		border-radius:8px 8px 0 0;
		font-family:pkmndp, Arial;
		font-size:20px;
		color:#000;
		background: rgba(204,204,204, 0.5);
		position: relative; 
		z-index: 1;
	}
		
	#chatbox input.active {
		margin-top:-42px;
	}	


footer {
	width: 100%;
	text-align: left;
}

input[type=button] {
	font-family:pkmndp, Arial;
	border: 1px solid #ffffff;
	border-radius:2px;
	opacity:1;
	background:-moz-linear-gradient(top,  #9e2626,  #741616);
	filter:alpha(opacity=100);
	background:-ms-linear-gradient(top,  #9e2626,  #741616);
	background:-o-linear-gradient(top,  #9e2626,  #741616);
	background:-webkit-gradient(top,  #9e2626,  #741616);
	background:-webkit-linear-gradient(top,  #9e2626,  #741616);
	background:linear-gradient(top,  #9e2626,  #741616);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e2626', endColorstr='#741616');
	height:30px;
}

input[type=button]:hover {
	border: 1px solid #ffffff;
	border-radius:2px;
	display:inline-block;
	opacity:1;
	filter:alpha(opacity=100);
	color:#ffffff;
	background:-moz-linear-gradient(top,  #9e2626,  #741616);
	background:-ms-linear-gradient(top,  #9e2626,  #741616);
	background:-o-linear-gradient(top,  #9e2626,  #741616);
	background:-webkit-gradient(top,  #9e2626,  #741616);
	background:-webkit-linear-gradient(top,  #9e2626,  #741616);
	background:linear-gradient(top,  #9e2626,  #741616);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e2626', endColorstr='#741616');
}


li.action{
	background:transparent;
	color:#ffffff;
	font-size:small;
	vertical-align:middle;
	line-height:25px;
	list-style:none;
	display:inline-block;
	margin:5px 5px 5px 15px;
	text-align:center;
}

ul{
	padding:0;
}
	
li.controls{
	height:25px;
	border: 1px solid #ffffff;
	border-radius:2px;
	background:transparent;
	color:#ffffff;
	font-size:medium;
	font-weight:bold;
	vertical-align:middle;
	width:25px;
	line-height:25px;
	list-style:none;
	display:inline-block;
	margin:5px;
	text-align:center;
	vertical-align:middle;
}
li.controls.active{
	background:-moz-linear-gradient(top,  #9e2626,  #741616);
	background:-ms-linear-gradient(top,  #9e2626,  #741616);
	background:-o-linear-gradient(top,  #9e2626,  #741616);
	background:-webkit-gradient(top,  #9e2626,  #741616);
	background:-webkit-linear-gradient(top,  #9e2626,  #741616);
	background:linear-gradient(top,  #9e2626,  #741616);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e2626', endColorstr='#741616');
}

#controls {
	
}

#listSprite {
	height: 300px;
	overflow: auto;
	text-align: left;
}

input[type="button"] {
	padding: 2px;
}

ul#charOption {
	width: 264px;
	height: 64px;
	overflow: hidden;
	border: 1px solid #ccc;
	list-style: none;
	background: url(arrow-bottom.png) top right no-repeat;
}

#charOption li {
	width: 200px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: -192px 0;
	padding-left: 64px;
}		

#charOption li{
	display: none;
}		

#charOption li.default, #charOption li:hover{
	cursor: pointer;
}	
#charOption li.default{
	display: block;
}		

#charOption li:hover{
	background-color: #333;
}