			#stats {
				position: absolute;
				top: 100px;
				left: 25%;
			}
			
			#stats #fps {
				padding: 1px !important;
				box-shadow: 1px 1px 3px rgba(0,0,0,.95) inset, 0px 0px 0px rgba(0,0,0,.75), 1px 1px 0px rgba(255,255,255,.25);
			}

			#stats #fps #fpsText {
				left: 1px;
				color: #80ccff !important;
				background-image: -o-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -ms-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				padding: 0 1px;
			}

			#stats #fps #fpsGraph {
				left: 1px;
				padding: 1px;
				margin-bottom:1px;
				background-color: rgba(0,155,255,0.5) !important;
				background-image: -o-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -ms-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
			}

			#stats #fps #fpsGraph span {
				border-bottom: 1px solid !important;
				border-color: rgba(0,155,255,0.9) !important;
				background-color: rgba(0,0,20,0.8) !important;
			}

			#stats #ms {
				padding: 1px !important;
				box-shadow: 1px 1px 3px rgba(0,0,0,.95) inset, 0px 0px 0px rgba(0,0,0,.75), 1px 1px 0px rgba(255,255,255,.25);
			}

			#stats #ms #msText {
				left: 1px;
				color: #80ff80 !important;
				background-image: -o-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -ms-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				padding: 0 1px;
			}

			#stats #ms #msGraph {
				left: 1px;
				padding: 1px;
				margin-bottom:1px;
				background-color: rgba(0,255,0,0.5) !important;
				background-image: -o-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: -ms-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
				background-image: linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(0,0,0,.35) 100%);
			}

			#stats #ms #msGraph span {
				border-bottom: 1px solid !important;
				border-color: rgba(0,255,0,0.9) !important;
				background-color: rgba(0,20,0,0.8) !important;
			}